.filter-сheckbox {
    box-sizing: border-box;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.filter-сheckbox__conteiner {
    margin: 0 auto;
    width: 155px;
    padding: 28px 0 0 0;
    display: flex;
    align-items: center;
}

.check {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 10px;
    height: 10px;
}

.check + label {
    cursor: pointer;
}

.check:not(checked) {
    position: absolute;
    opacity: 0;
}

.check:not(checked) + label {
    position: relative;
    padding: 0 0 0 46px;
}

.check:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: -1px;
    width: 34px;
    height: 14px;
    border-radius: 10px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.check:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: all .2s;
}

.check:checked + label:before {
    background: #3DDC84;
}

.check:checked + label:after {
    left: 20px;
}

.filter-сheckbox__name {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #ffffff;

}

@media screen and (max-width: 768px) {
    .filter-сheckbox {

    }
}

@media screen and (max-width: 320px) {
    .filter-сheckbox {

    }
}