.register {
    margin: 0 auto;
    padding: 0 0 30px 0;
    max-width: 396px;
    min-height: 100vh;
    height: 100%;
    background-size: cover;
}

.register__fieldset {
    display: flex;
    flex-direction: column;
    border: 0 none;
    padding: 0;
    margin: 0 auto;
}

.register__title {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #ffffff;
    padding-bottom: 40px;
}

.register__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.register__input {
    box-sizing: border-box;
    height: 46px;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 13px;
    line-height: 16px;
    background-color: #2F2F2F;
    border-style: none;
    color: #FFFFFF;
}

.register__input:focus {
    outline: 1px solid #4285F4;
}

.register__submit {
    margin-top: 69px;
    box-sizing: border-box;
    height: 45px;
    border-radius: 3px;
    padding: 0;
    background-color: #4285F4;
    color: #ffffff;

    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    border-style: none;
    cursor: pointer;
    -webkit-transition: opacity linear .4s;
    -o-transition: opacity linear .4s;
    transition: opacity linear .4s;
}

.register__submit:hover {
    opacity: 0.8;
}

.register__question {
    padding-top: 16px;
    text-align: center;
    margin: 0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

.register__link {
    text-decoration: none;
    color: #4285F4;
    cursor: pointer;
    -webkit-transition: opacity linear .4s;
    -o-transition: opacity linear .4s;
    transition: opacity linear .4s;
}

.register__link:hover {
    opacity: 0.8;
}

.register__error {
    height: 10px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

@media screen and (max-width: 768px) {
    .register {
        max-width: calc(260px + (396 - 260) * ((100vw - 320px) / (768 - 320)));
    }
}