.nav-tab {
    margin: 0;
    padding: 151px 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-tab__button {
    width: 96px;
    height: 36px;
    border-radius: 10px;
    background-color: #303030;
    text-align: center;
    line-height: 36px;

    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;

    -webkit-transition: opacity linear .4s;
    -o-transition: opacity linear .4s;
    transition: opacity linear .4s;
    cursor: pointer;
}

.nav-tab__button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .nav-tab {
        padding-top: calc(212px + (314 - 212) * ((100vw - 320px) / (768 - 320)));
    }

    .nav-tab__button {
        width: calc(82px + (96 - 82) * ((100vw - 320px) / (768 - 320)));
        height: calc(26px + (36 - 26) * ((100vw - 320px) / (768 - 320)));
    }
}

@media screen and (max-width: 320px) {
    .nav-tab {

    }

    .nav-tab__button {
        font-size: 10px;
        line-height: 26px;
        border-radius: 6px;
    }
}